*.iml
*/*/.idea
*/*/out
*/*/*/out
*/*/.gradle
*/*/*/.gradle
*/*/*/gradle
*/*/gradlew
*/*/*/gradlew
*/*/gradlew.bat
*/*/*/gradlew.bat
*/*/*/.idea
*/*/build
*/*/*/build
*/*/build.gradle
*/*/*/build.gradle
*/*/settings.gradle
*/*/*/settings.gradle
*/*/*/*/test
*/*/*/wrapper
