<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="main">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="../../../css/theme.css" rel="stylesheet" />
    <title>confirmation</title>
</head>
<body>
<div layout:fragment="content" th:method="delete">
    <h3 th:text="'Do you really want to delete your ' + ${meal} +'?'">Do you really want to delete meal?</h3>
    <div>
        <a class="btn btn-lg btn-success" th:href="@{'/delete'(id=${meal.id})}">Yes</a>
        <a class="btn btn-lg btn-danger" th:href="@{'/index'}">No</a>
    </div>
</div>
</body>
</html>